<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  
  <!-- Transform connection strings for Debug/Local environment -->
  <connectionStrings xdt:Transform="Replace">
    <!-- Local Development - SQL Server Authentication for IIS compatibility -->
    <add name="SRXLite" 
         connectionString="Server=localhost;Initial Catalog=SRXLite;Integrated Security=True;Asynchronous Processing=true" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <!-- Debug/Development application settings -->
  <appSettings xdt:Transform="Replace">
    <add key="PrintButton" value="True"/>
    <add key="WaterMark" value="For Official Use Only - DEBUG"/>
    <add key="Environment" value="DEV"/>
    <add key="EncryptionEnabled" value="1"/>
    <add key="EncryptionKey" value="srxlitedev"/>
    <add key="FileSizeUploadLimit" value="6291456"/>
    <add key="InitialFileSizeUploadLimit" value="5242880"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\Temp\"/>
  </appSettings>

  <system.web>
    <!-- Enable detailed error messages for debugging -->
    <customErrors mode="Off" xdt:Transform="Replace"/>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)"/>
    
    <!-- Enable trace for debugging -->
    <trace enabled="true" xdt:Transform="SetAttributes(enabled)"/>
  </system.web>
</configuration>