<%@ Master Language="VB" Inherits="ALOD.Web.Secure_Popup" Codebehind="Popup.master.vb" %>
<%@ Import Namespace="System.Web.Optimization" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head runat="server">
    <title>Untitled Page</title>
    <meta http-equiv="X-UA-Compatible"  content="IE=Edge"/> 
    
    <%-- Bundled and minified JavaScript --%>
    <%= Scripts.Render("~/bundles/jquery") %>
    <%= Scripts.Render("~/bundles/jqueryui") %>
    <%= Scripts.Render("~/bundles/common") %>
    
    <asp:ContentPlaceHolder ID="head" runat="server" />
</head>
<body class="popup">
    <form id="form1" runat="server">
    <div>
        <div id="popupHeader">
            <asp:Image runat="server" ID="logo" SkinID="imgLogoPopup" ImageAlign="AbsMiddle" />
            <div class="popupTitle">
                <asp:Label runat="server" ID="lblPageTitle" />
            </div>
        </div>
        <asp:ScriptManager ID="ScriptManager1" runat="server" />
        <div class="popupBody">
            <asp:ContentPlaceHolder ID="ContentMain" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </div>
    </form>
</body>
</html>
