<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <!-- Transform connection strings for Testing environment -->
  <connectionStrings xdt:Transform="Replace">
    <add name="LOD" 
         connectionString="Data Source=uhhz-db-009v.area52.afnoapps.usaf.mil\MSSQLSERVER2014;Initial Catalog=ALOD;User ID=ALOD_ASPNET_SESSION; Password=alodpwd!2009;" 
         providerName="System.Data.SqlClient" />
    <add name="SRXLite" 
         connectionString="Data Source=uhhz-db-009v.area52.afnoapps.usaf.mil\MSSQLSERVER2014;Initial Catalog=SRXLite;User ID=ALOD_ASPNET_SESSION; Password=alodpwd!2009;" 
         providerName="System.Data.SqlClient" />
    <!-- <add connectionString="Server=AFRCVMALOD05.area52.afnoapps.usaf.mil;Initial Catalog=SRXLite;UID=ASPNET_SESSION;PWD=alodpwd!2009; Asynchronous Processing=true" name="SRXLiteConnectionString" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="LOD" connectionString="Data Source=129.54.18.104;Initial Catalog=ALOD;UID=ALOD_ASPNET_SESSION;Password=alodpwd!2009;" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="SRXLite" connectionString="Data Source=129.54.18.104;Asynchronous Processing=true;Initial Catalog=SRXLite;UID=ALOD_ASPNET_SESSION; PWD=alodpwd!2009;" providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  
  <!-- Testing environment application settings -->
  <appSettings xdt:Transform="Replace">
    <add key="DeployMode" value="DEV"/>
    <add key="DevLoginEnabled" value="Y"/>
    <add key="EmailEnabled" value="N"/>
    <add key="EmailFrom" value="test-alerts@stanfieldsystems.com"/>
    <add key="DeveloperDebugMode" value="true"/>
    <add key="CreateLogFile" value="true"/>
  </appSettings>
  
  <!-- Testing mail settings - localhost or disabled -->
  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\TestMailDrop"/>
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <!-- Enable detailed error messages for testing -->
    <customErrors mode="Off" xdt:Transform="Replace"/>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)"/>
    
    <!-- Enable trace for testing -->
    <trace enabled="true" xdt:Transform="SetAttributes(enabled)"/>
  </system.web>
  
  <!-- Testing static content - disable caching for easier testing -->
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" xdt:Transform="SetAttributes(cacheControlMode)" />
    </staticContent>
  </system.webServer>
</configuration>
