<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
  
  <!-- Transform connection strings for Staging environment -->
  <connectionStrings xdt:Transform="Replace">
      <remove name="LocalSqlServer" />
    <add name="LOD" 
         connectionString="Server=staging-server;Database=ALOD_Staging;User ID=alod_staging;Password=CHANGE_THIS_PASSWORD;" 
         providerName="System.Data.SqlClient"/>
    <add name="SRXLite" 
         connectionString="Server=staging-server;Database=SRXLite_Staging;User ID=srx_staging;Password=CHANGE_THIS_PASSWORD;" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <!-- Staging environment application settings -->
  <appSettings xdt:Transform="Replace">
    <add key="SingleSession" value="Y"/>
    <add key="QueryTimeLimit" value="30"/>
    <add key="CacEnabled" value="Y"/>
    <add key="DevLoginEnabled" value="N"/>
    <add key="DeployMode" value="STAGING"/>
    <add key="AccessDeniedUrl" value="~/Public/AccessDenied.aspx"/>
    <add key="authCookieName" value="LODAUTH"/>
    <add key="DocServiceUsername" value="AFLOD"/>
    <add key="DocServicePassword" value="DDRSalod121511*("/>
    <add key="UseDBSign" value="Y"/>
    <add key="DbSignDatabase" value="ALOD_Staging"/>
    <add key="DbSignUrl" value="https://alodstaging.afrc.af.mil/dbsign/server"/>
    <add key="EmailFrom" value="alerts@stanfieldsystems.com"/>
    <add key="EmailEnabled" value="Y"/>
    <add key="DocServiceStylesheet" value="~/Public/upload.css"/>
    <add key="WaterMark" value="STAGING ENVIRONMENT - For Official Use Only"/>
    <add key="timeoutDialog" value="5"/>
    <add key="HipaaTraining" value="https://mhslearn.csd.disa.mil"/>
    <add key="KeepAliveURL" value="https://alodstaging.afrc.af.mil/alod/default.aspx"/>
    <add key="KeepAliveURL2" value="https://alodstaging.afrc.af.mil/alod/default.aspx/"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;Url=~/chartImages;" />
    <add key="hostname" value="https://alodstaging.afrc.af.mil/" />
    <add key="ReminderEmailIsEnabled" value="Y" />
    <add key="InitialFileSizeUploadLimit" value="5242880"/>
    <add key="timeoutPrompt" value="25"/>
    <add key="DeveloperDebugMode" value="false"/>
    <add key="GenerationTimeLogFile" value="/Logs/generation_timeLog.txt"/>
    <add key="CreateLogFile" value="true"/>
  </appSettings>
  
  <!-- Staging mail settings - production-like -->
  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp>
        <network host="131.9.25.144" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <!-- Staging session state - production timeout -->
  <sessionState allowCustomSqlDatabase="true" cookieless="UseDeviceProfile" mode="SQLServer" sqlConnectionString="LOD" timeout="20" xdt:Transform="Replace" />
  
  <!-- Staging application settings -->
  <applicationSettings xdt:Transform="Replace">
    <ALOD.Data.Properties.Settings>
      <setting name="ALOD_Data_SRXExchange_DocumentService" serializeAs="String">
			  <value>https://alodtest.afrc.af.mil/srxlite/services/documentservice.asmx</value>
      </setting>
    </ALOD.Data.Properties.Settings>
  </applicationSettings>

  <system.web>
    <!-- Production-like settings for staging -->
    <compilation debug="false" strict="false" explicit="true" xdt:Transform="SetAttributes(debug,strict,explicit)"/>
    <customErrors mode="RemoteOnly" xdt:Transform="Replace"/>
    
    <!-- Disable trace for staging -->
    <trace enabled="false" xdt:Transform="SetAttributes(enabled)"/>
  </system.web>
  
  <!-- Staging static content - enable caching like production -->
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" xdt:Transform="SetAttributes(cacheControlMode,cacheControlMaxAge)" />
    </staticContent>
  </system.webServer>
</configuration>
