<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
  
  <!-- Transform connection strings for Debug/Local environment -->
  <connectionStrings xdt:Transform="Replace">
    <remove name="LocalSqlServer" />
    <add name="LOD" 
         connectionString="Server=localhost;Database=ALOD;Integrated Security=True;" 
         providerName="System.Data.SqlClient"/>
    <add name="SRXLite" 
         connectionString="Server=localhost;Database=SRXLite;Integrated Security=True;" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <!-- Debug/Development application settings -->
  <appSettings xdt:Transform="Replace">
    <add key="SingleSession" value="N"/>
    <add key="QueryTimeLimit" value="10"/>
    <add key="CacEnabled" value="N"/>
    <add key="DevLoginEnabled" value="Y"/>
    <add key="DeployMode" value="DEV"/>
    <add key="AccessDeniedUrl" value="~/Public/devlogin.aspx"/>
    <add key="authCookieName" value="LODAUTH"/>
    <add key="DocServiceUsername" value="AFLOD"/>
    <add key="DocServicePassword" value="DDRSalod121511*("/>
    <add key="UseDBSign" value="N"/>
    <add key="DbSignDatabase" value="ALOD_DB"/>
    <add key="DbSignUrl" value="http://localhost:8090/dbsign/server"/>
    <add key="EmailFrom" value="alerts@stanfieldsystems.com"/>
    <add key="EmailEnabled" value="Y"/>
    <add key="DocServiceStylesheet" value="~/Public/upload.css"/>
    <add key="WaterMark" value="For Official Use Only"/>
    <add key="timeoutDialog" value="5"/>
    <add key="HipaaTraining" value="https://mhslearn.csd.disa.mil"/>
    <add key="KeepAliveURL" value="http://localhost:8090/alod/default.aspx"/>
    <add key="KeepAliveURL2" value="http://localhost:8090/alod/default.aspx/"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;Url=~/chartImages;" />
    <add key="hostname" value="https://localhost:8090/" />
    <add key="ReminderEmailIsEnabled" value="Y" />
    <add key="InitialFileSizeUploadLimit" value="5242880"/>
    <add key="timeoutPrompt" value="25"/>
    <add key="DeveloperDebugMode" value="false"/>
    <add key="GenerationTimeLogFile" value="/Logs/generation_timeLog.txt"/>
    <add key="CreateLogFile" value="true"/>
  </appSettings>
  
  <!-- Debug mail settings -->
  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp>
        <network host="localhost" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  
  <!-- Debug session state -->
  <sessionState allowCustomSqlDatabase="true" cookieless="UseDeviceProfile" mode="SQLServer" sqlConnectionString="LOD" timeout="31" xdt:Transform="Replace" />
  
  <!-- Debug application settings -->
  <applicationSettings xdt:Transform="Replace">
    <ALOD.Data.Properties.Settings>
      <setting name="ALOD_Data_SRXExchange_DocumentService" serializeAs="String">
        <value>http://localhost:8091/services/documentservice.asmx</value>
      </setting>
    </ALOD.Data.Properties.Settings>
  </applicationSettings>

  <system.web>
    <!-- Enable detailed error messages for debugging -->
    <customErrors mode="Off" xdt:Transform="Replace"/>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)"/>
    
    <!-- Enable trace for debugging -->
    <trace enabled="true" xdt:Transform="SetAttributes(enabled)"/>
  </system.web>
</configuration>