body {
    font-family: Helvetica, verdana, arial, sans-serif;
    background-color: #FFF;
    color: #000;
    font-size: 12px;
}

H1 {
    color: #08003C;
    text-indent: 0px;
    font-size: 24px;
    background-color: transparent;
    border-bottom: 1px solid #08003C;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 6px;
}