<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
  
  <!-- Transform connection strings for Production environment -->
  <connectionStrings xdt:Transform="Replace">
    <remove name="LocalSqlServer" />
    <add name="LOD" 
         connectionString="Data Source=129.54.18.104;Initial Catalog=ALOD;UID=ALOD_ASPNET_SESSION;Password=alodpwd!2009;" 
         providerName="System.Data.SqlClient" />
    <add name="SRXLite" 
         connectionString="Data Source=129.54.18.104;Asynchronous Processing=true;Initial Catalog=SRXLite;UID=ALOD_ASPNET_SESSION; PWD=alodpwd!2009;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!-- Production environment application settings -->
  <appSettings xdt:Transform="Replace">
    <add key="SingleSession" value="Y" />
    <add key="QueryTimeLimit" value="10" />
    <add key="CacEnabled" value="Y" />
    <add key="DevLoginEnabled" value="N" />
    <add key="DeployMode" value="Prod" />
    <add key="AccessDeniedUrl" value="~/Public/AccessDenied.aspx" />
    <add key="authCookieName" value="LODAUTH" />
    <add key="DocServiceUsername" value="AFLOD" />
    <add key="DocServicePassword" value="DDRSalod121511*(" />
    <add key="UseDBSign" value="Y" />
    <add key="DbSignDatabase" value="ALOD" />
	  <add key="DbSignUrl" value="https://alod.afrc.af.mil/dbsign/server" /> 
    <add key="EmailFrom" value="afrc.sgp@us.af.mil" />
    <add key="EmailEnabled" value="Y" />
    <add key="DocServiceStylesheet" value="https://alod.afrc.af.mil/alod/public/upload.css" />
    <add key="WaterMark" value="For Official Use Only" />
    <add key="timeoutDialog" value="5" /><!--The timeoutDialog value holds the number of minutes before session timeout when the dialog will appear. For example if the timeoutDialog is 6 and session timeout is set at 20 the dialog will appear at 14 minutes.-->
    <add key="KeepAliveURL" value="https://alod.afrc.af.mil/alod/default.aspx" />
    <add key="KeepAliveURL2" value="https://alod.afrc.af.mil/alod/default.aspx/" />
    <add key="HipaaTraining" value="https://mhslearn.csd.disa.mil"/> 
    <add key="ChartImageHandler" value="storage=file;timeout=20;Url=~/chartImages/;" />
    <add key="hostname" value="https://alod.afrc.af.mil/" />
    <add key="ReminderEmailIsEnabled" value="Y" />
    <add key="InitialFileSizeUploadLimit" value="5242880" />
    <add key="timeoutPrompt" value="25" />
  </appSettings>

  <!-- Production session state - shorter timeout for security -->
  <sessionState allowCustomSqlDatabase="true" cookieless="UseCookies" mode="SQLServer" sqlConnectionString="Data Source=129.54.18.104;Initial Catalog=ALOD;UID=ALOD_ASPNET_SESSION; pwd=alodpwd!2009;" timeout="31"  xdt:Transform="Replace" />
  
  <!-- Production mail settings -->
  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp>
         <network host="scott-smtp.us.af.mil" />
      </smtp>
    </mailSettings>
  </system.net>

  <!-- Production application settings -->
  <applicationSettings xdt:Transform="Replace">
    <ALOD.Data.Properties.Settings>
      <setting name="ALOD_Data_SRXExchange_DocumentService" serializeAs="String">
        <value>https://alod.afrc.af.mil/srxlite/services/documentservice.asmx</value>
      </setting>
    </ALOD.Data.Properties.Settings>
  </applicationSettings>

  <system.web>
    <!-- Production settings - optimized and secure -->
    <compilation debug="false" strict="false" explicit="true" xdt:Transform="SetAttributes(debug,strict,explicit)"/>
    <customErrors mode="On" defaultRedirect="~/Public/Error.aspx" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Public/NotFound.aspx"/>
      <error statusCode="500" redirect="~/Public/Error.aspx"/>
    </customErrors>
    
    <!-- Disable trace for production -->
    <trace enabled="false" xdt:Transform="SetAttributes(enabled)"/>
  </system.web>
  
  <!-- Production static content - aggressive caching -->
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" xdt:Transform="SetAttributes(cacheControlMode,cacheControlMaxAge)" />
    </staticContent>
    
    <!-- Production HTTP security headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="X-Content-Type-Options" value="nosniff" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" xdt:Transform="Insert"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
